*{
    padding: 0;
    margin: 0;
}

main{
    display: flex;
    border: 10px solid;
}

/**** titre, texte, polices etc... ****/
h1{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: "Honk", system-ui;
    color: #FFCD00;
}

a{
    text-decoration: none;
    color: #356ABC;
}

/**** en-tête et titre ****/
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image:url(assets/ciel.jpg);
}

/**** section shop ****/
.shop{
    background-color: RGB(255, 51, 51);
    width: 20%;
    border: 10px solid;
}

.titleShop{
    height: 60px;
    background: linear-gradient(rgba(255,255,255,0), #356ABC, rgba(255,255,255,0));
}

li{
    font-family: "Luckiest Guy", cursive;
    padding-bottom: 5px;
}

.imgShop{
    height: 20px;
    width: 20px;
}

/**** section game ****/
.game{
    height: 460px;
    width: 80%;
    border: 10px solid;
    background-image: url(assets/lvl1.png);
    background-size: cover;
}

.clickerZone{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerLevel{
    display: flex;
    justify-content: center;
    height: 60px;
    background: linear-gradient(rgba(255,51,51,0), #356ABC, rgba(255,51,51,0));
}

.imgClicker{
    height: 200px;
    width: 200px;
    margin-top: 80px;
}

.clickerButton {
    border: none; /* Supprime la bordure du bouton */
    background: none; /* Supprime l'arrière-plan du bouton */
    padding: 0; /* Supprime le remplissage */
    cursor: pointer; /* Change le curseur pour indiquer qu'il s'agit d'un élément cliquable */
}

